
<div class="container">
    <p-dropdown 
        [options]="documentTypeList" 
        [(ngModel)]="selectedDocType" 
        optionLabel="documentType">
    </p-dropdown>

    <p-fileUpload 
        name="file" 
        [auto]="true" 
        [accept]="selectedDocType?.documentType"
        customUpload="true" 
        (uploadHandler)="fileUploaded($event, i)"
        [disabled]="!selectedDocType">
    </p-fileUpload>

    <br><br>
    <table class="table">
      <th>Document Name</th>
      <th>Document Type</th>

      <tr *ngFor="let data of fileTable">
        <td>{{ data.documentName }}</td>
        <td>{{ data.documentType }}</td>
      </tr>

      <tr *ngIf="!fileTable.length">
        <td colspan="2" style="text-align: center;">No Records Found.</td>
      </tr>
    </table>

    <br><br>
    <button pButton type="button" label="Save" (click)="saveMultiFile()"></button>
</div>